body,ul,p,h1,h2,h3,h4,h5,form,input{margin:0;padding:0;font-family: '宋体', Sans-Serif;}
input,button{border:none;background:none;outline:none;}
a{text-decoration:none;}
ol,ul{list-style:none;}
img{border:0;}
.clear{clear:both;}
*{padding:0px;margin:0px;}

/*
*头部
 */
#top{width:100%;height:40px;background:#2E2E2E;}
#top p{width:272px;float:right;margin-right:100px;padding:0px;margin:0px;}
#top p a{float:left;display:block;height:20px;line-height:40px;padding:0 14px 0 14px;font-family:'宋体';font-size:14px;color:#fff;cursor:pointer;}
#top p a img{margin-top:10px;}
/*
*导航
 */
#nav{width:100%;height:81px;background:#A9BC00;}
#nav #nav_main{width:1200px;margin:0 auto;}
#nav_main img{height:80px;width:100px;float:left;}
#nav_main ul{float:left;margin-left:26px;}
#nav_main ul li{float:left;line-height:77px;margin:0 24px 0 10px;}
#nav_main ul li a{display:block;padding:0 6px 0 6px;color:#fff;font-size:20px;font-family:'幼圆';}
#nav_main ul li a:hover{border-bottom:4px solid #859300;}
#nav_main .search{width:228px;height:40px;margin-top:20px;background:url(../image/submit.png) no-repeat;float:right;}
.search .soso{width:160px;height:18px;padding:8px 0 4px 0;line-height:18px;margin:4px 0 0 16px;color:#677300;font-size:12px;border-right:1px solid #6B7700;float:left;}
.search .sub_go{width:40px;height:32px;margin-top:2px;float:left;background:url(../image/search.png) no-repeat 16px 10px;cursor:pointer;}

/*
* 尾部
 */
#footer{width:100%;height:310px;background:#95A601;margin-top:222px;}
#footer #f_content{width:980px;height:122px;font-size:14px;font-weight:normal;font-family:'宋体';color:#fff;margin:0 auto;padding-top:32px;}
#f_content #f_left{width:138px;height:96px;float:left;}
#f_content #f_center{width:400px;height:56px;float:left;margin:40px 0 0 34px;}
#f_center p{margin-top:6px;vertical-align: center;}
#f_center p a{display:inline-block;color:#fff;padding-right:30px;cursor:pointer;vertical-align: center;}
#f_center .f_pic{width:400px;height:40px;}
#f_center .f_pic a{line-height:40px;float:left;padding-right:12px;}
#f_content #f_right{width:128px;height:123px;text-align:center;float:right;text-align:center;}
#footer #f_right span{color:#5A5A5A;font-size:12px;margin-left:11px;}

#f_content .f_logo{float:left;}
#f_content span{float:left;font-size:14px;}
#footer #f_bottom{width:1072px;height:68px;font-size:14px;margin:0 auto;margin-top:36px;color:#fff;font-weight:normal;}
#f_bottom p{margin-top:8px;}
#f_bottom p a{font-size:14px;font-weight:normal;padding-right:44px;color:#fff;}

/*
*固定条
 */
#fixed{width:82px;height:300px;position:fixed;top:200px;right:1%;display:none;}
#fixed li{width:82px;height:82px;background:url(../image/fixed.png) no-repeat;margin-top:10px;}
#fixed li a{width:82px;height:82px;font-size:14px;text-align:center;padding-top:50px;display:inline-block;color:#fff;vertical-align:bottom;z-index:2;}
#fixed li .f_f{background:url(../image/f_f.png) no-repeat 30px 20px;}
#fixed li .f_s{background:url(../image/f_s.png) no-repeat 26px 10px;}
#fixed li .f_t{background:url(../image/f_t.png) no-repeat 30px 28px;}

/*
* 登陆框
 */
#order{width:100%;height:100%;position:absolute;top:0px;left:0px;z-index:10;display:none;}
body{position:relative;}
#login_box{width:772px;height:380px;margin:0 auto;position:fixed;top:180px;z-index:12;display:none;}
#login_box h4{line-height:58px;font-size:24px;padding-left:46px;font-weight:bold;width:726px;height:58px;background:#94A501;position: relative;color:#555F01;}
#login_box h4 img{position:absolute;top:1px;right:0px;}
#cancel{cursor:pointer;}
#login_box .l_left{width:236px;height:230px;float:left;margin:48px 0 0 80px;background:url(../image/line.png) no-repeat right center;}
.l_left span{display:block;width:60px;height:64px;margin:48px 0 0 40px;font-weight:normal;text-align:center;font-size:14px;float:left;color:#788602;}
.l_left span img{padding:0 0 20px 9px;}
.l_left .qq{padding-left:4px;width:50px;}
.l_left .qq img{padding-left:4px;}
#login_box .l_right{width:298px;height:212px;float:left;font-weight:normal;margin:48px 0 0 64px;}
.l_right p{line-height:30px;}
.l_right .tell{font-size:12px;color:#000}
.tell a{color:#94A501;float:right;}
.tell span{float:left;color:#797979;}
.l_right p .l_first{float:left;font-weight:normal;font-size:14px;font-family:'宋体';color:#3D3D3D;}
.l_right p .l_last{float:right;font-weight:normal;font-size:14px;font-family:'宋体';color:#94A501;}
.l_right form input{width:298px;height:24px;font-size:14px;padding:10px 0 6px 6px;line-height:24px;background:url(../image/l_input.png) no-repeat;margin-top:10px;}

.l_right .radio{width:12px;height:12px;float:left;margin-right:4px;}
.l_right .l_sub{height:38px;line-height:18px;background:url(../image/l_sub.png) no-repeat;margin-top:12px;font-size:18px;font-family:'微软雅黑';text-align:center;color:#fff;cursor:pointer;}

