.clear {zoom:1;}
.clear:after {content:'';display:block;clear:both;}
.l_main{width:100%;}
.main_center{width:980px;margin:0 auto;}
.bg_img{padding:0px;margin:0px;width:100%;height:360px;background:url(../image/l_mian_bg.jpg) no-repeat 50% 0;}
.bg_img #bg_title{width:500px;height:300px;margin:0 auto;padding-top:30px;}
#bg_title p{font-family: '微软雅黑';font-size:20px;color:#fff;text-align:center;line-height:34px;}
#bg_title p span{display:block;font-size: 30px;font-family: '微软雅黑';color:#fff;margin-bottom:46px;text-align:center;}

#l_main_g{width:100%;position:relative;}
#l_main_g .intro_prev{position:absolute;top:280px;cursor:pointer;z-index:2;}
#l_main_g .intro_next{position:absolute;top:280px;cursor:pointer;z-index:2;}
.main_c1{width:980px;height:478px;margin:0 auto;background:url(../image/main_1.png) no-repeat;margin-top:50px}
.c1_font{width:290px;height:452px;background:url(../image/form_bg1.png);float:right;padding:12px 2px 12px 12px;}
.c1_font p{padding:0 25px;}
.c1_font .c{font-size:14px;margin-top:9px;line-height:24px;font-family:'宋体';color:#fff;}
.c1_font .t{font-size:30px;font-family:'微软雅黑',Verdana, Geneva, sans-serif;color:#fff;margin-top:37px;}
.c1_font .b{font-size:14px;margin-top:17px;line-height:24px;text-indent:2em;font-family:'宋体',Verdana, Geneva, sans-serif;color:#fff;}
.c1_font ul{margin:10px 0 0 20px;}
.c1_font li{width:240px;float:left;font-size:14px;font-family:'宋体',Verdana, Geneva, sans-serif;color:#fff;min-height:12px;line-height:22px;margin:2px 0;}
.c1_font li img{padding:0 5px;}
.c1_font li span{width:200px;display:block;float:right}

.l_main_w{width:100%;background:#f2f2f2;}
.m_left{margin-left:35px;}
.l_main_w .text_img{width:980px;height:363px;}
.l_main_w .img_1{width:390px;height:363px;float:left;}
.l_main_w .img_2{width:555px;height:363px;float:right;}
.l_main_w .img_3{width:470px;height:363px;float:left;}
.l_main_w .img_4{width:475px;height:363px;float:right;}
.l_main_w .img_5{width:550px;height:363px;float:left;}
.l_main_w .img_6{width:395px;height:363px;float:right;}
.l_main_w .img_1 > img{width:390px;height:363px;float:left;}
.l_main_w .img_2 > img{width:555px;height:363px;float:right;}
.l_main_w .img_3 > img{width:470px;height:363px;float:left;}
.l_main_w .img_4 > img{width:475px;height:363px;float:right;}
.l_main_w .img_5 > img{width:550px;height:363px;float:left;}
.l_main_w .img_6 > img{width:395px;height:363px;float:right;}
.w_font{font-size:30px;font-family:'微软雅黑',Verdana, Geneva, sans-serif;padding-top:20px;}
.l_main_w p{font-size:18px;color:#BF0000;font-size:'微软雅黑';margin-top:10px;font-weight:bold;}
#f_js ul{position:absolute;top:0px;left:0px;}
#f_js ul li{float:left;}
#f_js ul li img{width:980px;height:565px;}
#f_js{width:100%;height:565px;background:#999;margin:10px 0 60px;position:relative;overflow: hidden;}
#f_js span{display:block;width:959px;height:63px;padding-left:20px;line-height:63px;background:url(../image/intro_bg.png) no-repeat;position:absolute;left:0px;bottom:0px;font-size:16px;font-family:'宋体';color:#fff;}

